body
{
    background-color: rgb(42, 44, 165);
}
h1{
    color: rgb(0, 255, 106);
}
.man{
    font-size: x-large;
    color: rgb(145, 255, 0);
    background-color: aquamarine;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{  font-size: x-large;
    background-color: rgb(0, 26, 255);
    color: rgb(0, 255, 42);
    font-family: Arial, Helvetica, sans-serif;
}
